python-jose[cryptography]
passlib[argon2]
argon2-cffi
fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
email-validator
pandas
openpyxl
python-multipart
rq
Jinja2==3.1.6
pdfplumber
python-docx
celery
prometheus-client==0.20.0
